/* src/components/MovieModal.css */

.movie-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .movie-modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 600px; /* Adjust the max-width as needed */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-content {
    width: 100%;
  }
  
  .modal-header {
    display: flex;
    align-items: flex-start;
  }
  
  .modal-poster {
    width: 150px;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .movie-info {
    flex: 1;
  }
  
  .modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .ratings {
    display: flex;
    align-items: center;
  }
  
  .rating {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .rating img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }
  
  .rating p {
    margin: 0;
  }
  